name: Precommit Community Metrics

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:
   inputs:
     tags:
        description: 'Test scenario tags'
        required: false
        type: boolean

env:
  cluster: metrics
  zone: us-central1-a
  projectName: ${{env.gcloud_ProjectName}}
  kubeConfigPath: /home/jenkins/.kube/config

jobs:
  PythonLint:
    if: github.event.issue.pull_request && contains(github.event.comment.body, 'Run PythonLint PreCommit')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Move to lint position
        run: cd sdks/python/
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Setup Virtual Env 
        run: python -m venv --clear . && . ./bin/activate && pip install --retries 10 --upgrade pip && pip install --retries 10 --upgrade tox==3.20.1 -r ./build-requirements.txt
      - name: Run python Lint 
        run: ./scripts/run_pylint.sh
      - name: Run mypy
        run: python setup.py mypy
